# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store # macOS specific
dist/
build/
coverage/
*.log
*.tmp
*.bak
*.swp
pids/
logs/
.vscode/ # VS Code specific settings
.idea/ # IntelliJ/WebStorm specific settings